.navbar {
    width: 100%;
    display: flex;
    justify-content: center;
}


.navbar .inner {
    height: 129px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.navbar .logo {
    display: flex;
    align-items: center;
}
.navbar .logo img {
    max-width: 30px;
    max-height: 30px;
}
.navbar .logo h3 {
    font-family: Rubik;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
    margin-left: 15px;
}
.navbar .menu {
    display: flex;
    font-family: Rubik;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0;
    text-align: left;
    color: #4F5665;

}
.navbar .menu P {
    margin-right: 40px;
}
.navbar .login-signup {
    display: flex;

}
.navbar .login-signup .login {
    padding: 13px 40px;
    background: none;
    border-radius: 50px;
    border: none;
    font-family: Rubik;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0;
    text-align: left;

}
.navbar .login-signup .signup {
    padding: 13px 45px;
    background: #FFBA33;
    border-radius: 50px;
    border: none;
    font-family: Rubik;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0;
    text-align: left;

}